BOT_TOKEN=token
DISCORD_APPLICATION_ID=your_application_id
DISCORD_PUBLIC_KEY=your_public_key
DB_CONN_STRING=mongodb+srv://<user>:<pass>@cluster0.x0zarxd.mongodb.net
DB_NAME="bot"
GAME_TEAMS=colonist,reyab
GAME_MAPS=suna,maar,khidi