BOT_TOKEN=your_bot_token_here
DISCORD_APPLICATION_ID=your_application_id_here
DISCORD_PUBLIC_KEY=your_public_key_here
DB_CONN_STRING=mongodb+srv://<user>:<pass>@your-cluster.mongodb.net
DB_NAME="bot"
GAME_TEAMS=colonist,reyab
GAME_MAPS=suna,maar,khidi